  /*no maching font or close from Google font so this will be fall back font*/
  @import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{ font-size: 62.50%}  /* 10px ==> 1rem safe to use, client did not set it or use rem*/
/* the default is 16px which is not very easy to use for calculation */

:root{   /*need to work wit variable to reduce  effort on  media queries */
    --color-dark:      #000;
    --color-white:     #FFF;
    --color-primary:   #efe7dc;
    --color-secondary: #f7f7f7;
    --color-danger:    #b12704;
    --color-success:   #2a8703;

    --font-xxl: clamp(2rem, 4vw + 1rem, 8rem);
    --font-md:  clamp(1rem, 2vw + 1rem, 3rem);
    --font-sm: 1.8rem;
    --font-xs: 1.4rem; 
    --page-width: 90%;

    --gap-lg: 5rem;
    --gap-md: 1rem;

     
    
}  

/*formating without any interference with current page style/*/
.hero *, .feature-products *, .feature-blogs *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero, .feature-blogs, .feature-products{
    width: var(--page-width);
    max-width: 196rem;
    margin: 0 auto;
    font-family: Montregular, Montserrat, sans-serif;  
    font-size: var(--font-sm);

}

.hero{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100%;
    margin-bottom: 7rem; 
}

.hero .hero-banner{
    background: url('https://www.matrix.com/-/media/project/loreal/brand-sites/matrix/americas/us_usmx/blog-information/blogs/hair-colour/ways-to-transform-dirty-blonde-hair-color/buttery-blonde.jpg?sc_lang=en-us&rev=b0858851078947e6b5662d1bbfac4ee7') no-repeat;
    background-size: cover;
    transform: scaleX(-1);   /*flip bg img to get more room by the right */
}

.hero .hero-detail{
    background: var(--color-primary) ; /*blending color*/
    padding-bottom: 5rem;
    padding-right: 1rem;
}

.hero-detail .eyebrow {
    background-color: var(--color-danger);
    color: var(--color-white);
    display: block;
    width: 8rem;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
    box-shadow: 1.5px 1px 5px  rgba(0, 0, 0, 0.8);
}

.title {
    font-size: var(--font-xxl);
    font-family: Montheavy, Montserrat, sans-serif;
    font-weight: 900;
    line-height: 7rem;
    margin-top: 2.5rem;
    text-align: center;
    text-transform: capitalize;
}
.hero-detail .title{
    text-align: left;
}
.hero-detail .description{
   font-size: var(--font-md);
   line-height: 40px;
   margin: 30px 0 40px 0;
}


.btn{ 
    font-size: var(--font-xm);
    font-weight: bold;
    font-family: Montheavy, Montserrat, sans-serif;
    border: 3px solid var(--color-dark);
    text-transform: uppercase;
    cursor: pointer;
    word-wrap: nowrap;
    color: var(--color-white);
    background-color: var(--color-dark);
    border: 3px solid var(--color-dark);
}

.btn:hover{
    color: var(--color-dark);
    background-color: var(--color-white);
}

.btn-owner{ 
    padding: 15px 45px;
}


/*---------FEATURE PRODUCT SECTION---------*/

.feature-products{
    margin-top: 5rem;
    padding: 1rem 0;
    
}

.sub-title{
    font-size: var(--font-md);
    margin-bottom: 2rem;
    text-align: center;
}


.product-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: var(--gap-lg);
    
}

.product-item{
    padding: 2rem 8rem;
    background-color: var(--color-secondary);
    position: relative;

}


.product-item img{
    height: clamp(10vh, 40vh, 50vh);
   display: block;
   margin: 0 auto;
}

.product-name{
   font-family: Montheavy;
   font-weight: 900;
   font-size: 2.5rem;
}

/*.product-name::before{ 
    content:"";
    border-top: 3px solid var(--dark-color);
    display: block;
    position: relative;
}*/

.product-name--use{
   display: none;
}

.product-item > :not(.product-price), .product-item > a {
   text-align: center;
   display: block;
}

.product-desc, .blog-desc{
   font: 400 1.4rem/2rem Montregular, sans-serif;
   margin: 1rem 0;

}
.product-price{
    color: var(--color-danger);
    font-family: Montlight;
    font-size: 2rem;
    font-weight: bold;
}

.btn-shopnow, .btn-blog{
    text-decoration: none;
    width: fit-content;
    padding: 1rem 2.5rem;
    margin: 2rem auto;
}


/*--------------featured blos------------*/
.feature-blogs{
    margin: 3rem auto;
    /*background-color: var(--color-success);*/  /*to be delete*/
}

.blog-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-grap: 1rem;
}

.blog-item img{
  width: calc(100% - var(--gap-lg)/2);
  margin: 0 auto;
  display: block;
}

.blog-item a{
    display: block;
}
.blog-wrapper :first-child img{
   margin: 0;
   padding-right: var(--gap-lg/2);
}

.blog-wrapper :last-child img{
    margin-right: 0;   
}

.blog-wrapper :last-child >  :not(.blog-item img)  {
    margin-left: 2rem ;
    margin-right: 2rem ;
    text-align: center;
}

  @font-face{
      font-family: Montheavy;
      src: url('https://waiz3ple.github.io/matrix/fonts/monts/mont-heavy-webfont.woff');
      /*src: url('fonts/monts/mont-heavy-webfont.woff');*/
  }

  @font-face{
      font-family: Montregular;
      src: url('https://waiz3ple.github.io/matrix/fonts/monts/mont-regular-webfont.woff');
     /* src: url('fonts/monts/mont-regular-webfont.woff');*/
  }

  @font-face{
      font-family: Montlight;
      src: url('https://waiz3ple.github.io/matrix/fonts/monts/mont-light-webfont.woff');
     /* src: url('fonts/monts/mont-regular-webfont.woff');*/
  }


/*issues*/
/*client fonts names and style info where detected but linking to font seems impossible */
/* no font like Mont fonts on google-fonts the closet is Montaga & Montserra  so I used them */
/*I found font somewhere else but i have to download, so I push them to github and use but if you dont like them google font will is the fall back font */
  